[Unit]
Description=My Hass Unipi Python Script Service
Wants=network-online.target
After=network-online.target evok.service
# Never stop retrying, however often it restarts
StartLimitIntervalSec=0

[Service]
User=unipi
WorkingDirectory=/home/unipi/unipi-homeassistant/scripts
ExecStart=/home/unipi/unipi-homeassistant/bin/python /home/unipi/unipi-homeassistant/scripts/hass-unipi.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
